.history-page{
min-height:100vh;
padding:30px;
background:#f8fbff;
}

.history-header{
display:flex;
align-items:center;
gap:20px;
margin-bottom:30px;
}

.back-btn{
background:white;
color:#4f6ee8;

border:1px solid #e4ebff;

padding:12px 24px;

border-radius:14px;

cursor:pointer;

font-size:16px;
font-weight:bold;

box-shadow:
0 4px 12px rgba(0,0,0,0.05);
}

.history-title{
font-size:3rem;
color:#4f6ee8;
margin:0;
}

.history-card{
max-width:900px;
margin:auto;

background:white;

padding:30px;

border-radius:25px;

border:1px solid #edf2ff;

box-shadow:
0 10px 25px rgba(0,0,0,0.05);
}

.order-item{
display:flex;
justify-content:space-between;
align-items:center;

background:#f9fbff;

margin-bottom:18px;
padding:20px 25px;

border-radius:15px;

border:1px solid #edf2ff;

font-size:20px;
font-weight:600;

transition:0.3s;
}

.order-item:hover{
transform:translateY(-3px);
}

.amount{
color:#4f6ee8;
font-weight:bold;
}

.feedback-btn{
width:100%;
margin-top:20px;

background:linear-gradient(
135deg,
#8bb4ff,
#a88bff
);

color:white;

border:none;

padding:18px;

border-radius:15px;

font-size:20px;
font-weight:bold;

cursor:pointer;
}

.no-orders{
text-align:center;
font-size:22px;
color:#718096;
padding:40px;
}
