.login-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#f8fbff,
#eef4ff,
#fdf6ff
);
}

.login-card{
width:500px;
background:white;
padding:45px;
border-radius:30px;
text-align:center;
border:1px solid #edf2ff;
box-shadow:0 10px 30px rgba(0,0,0,0.06);
}

.food-icon{
font-size:70px;
margin-bottom:15px;
}

.login-card h1{
color:#4f6ee8;
margin-bottom:10px;
font-size:42px;
font-weight:800;
}

.login-card p{
color:#718096;
margin-bottom:20px;
}

.login-card input{
width:100%;
padding:16px;
margin:10px 0;
border:1px solid #dfe7ff;
border-radius:14px;
font-size:16px;
background:white;
box-sizing:border-box;
}

.login-card input:focus{
outline:none;
border-color:#4f6ee8;
}

.password-box{
position:relative;
width:100%;
}

.password-box input{
padding-right:50px;
}

.eye{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
font-size:22px;
user-select:none;
}

.login-btn{
width:100%;
padding:16px;
margin-top:15px;
border:none;
border-radius:14px;
background:linear-gradient(
135deg,
#8bb4ff,
#a88bff
);
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

.login-btn:hover{
transform:translateY(-2px);
}

.register{
margin-top:20px;
}

.register span{
color:#4f6ee8;
font-weight:bold;
cursor:pointer;
}