.token-page{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
    135deg,
    #e8f0ff,
    #f3f7ff
  );
}

.token-card{

  width:550px;

  background:white;

  padding:40px;

  border-radius:30px;

  text-align:center;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);
}

.token-card h1{
  color:#4f6ee8;
  margin-bottom:20px;
}

.token-card h2{
  font-size:40px;
  color:#222;
  margin-bottom:25px;
}

.token-card p{
  font-size:18px;
  margin:12px 0;
  color:#555;
}

.token-card button{

  width:100%;

  padding:15px;

  margin-top:15px;

  border:none;

  border-radius:15px;

  background:
  linear-gradient(
    135deg,
    #8bb4ff,
    #a88bff
  );

  color:white;

  font-size:18px;

  cursor:pointer;
}